# ==========================================
# DATABASE - MariaDB
# ==========================================

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=koperasi
DB_USER=koperasi
DB_PASSWORD=ganti_dengan_password_database


# ==========================================
# APPLICATION
# ==========================================

APP_NAME="Katalog Koperasi Sumber Makmur"
APP_URL=http://localhost:3000
PORT=3000


# ==========================================
# LAB MODE
# ==========================================
# true  = mengaktifkan vulnerability untuk praktikum
# false = mode lebih aman
#
# LAB_MODE=true
#   - SQL Injection dasar
#   - Reflected XSS dasar
#   - Stored XSS dasar

LAB_MODE=true